<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Card Game</title>
    <script src="../functions.js"></script>
</head>

<body>
    <h1>Welcome to Card Game</h1>
    <br>
    <a href="/">Welcome Page</a>
    <br>
    <a href="nasa">Nasa Images</a>
    <br>
    <a href="cards">Card Game</a>
</body>
</html>